# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python 3 application

on:
  push:
    branches-ignore:
      - master
jobs:
  build:
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        python setup.py develop
    - name: flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 smart_arg.py
    - name: mypy
      run: |
        pip install mypy
        mypy
    - name: Test with pytest
      run: |
        [ ${{ matrix.python-version }} == 3.6 ] && pip install dataclasses
        pip install pytest
        pytest

